<header class="py-0 px-5 my-0 mx-auto max-w-screen-xl">
  <div class="flex justify-between py-5 px-0">
  <%= link_to root_path do %>
    <h1 class="m-0 font-black text-xl">旅つなぎ</h1>
  <% end %>
    <div class="flex">
      <%= link_to user_session_path do %>
        <div class="pr-12 cursor-pointer sm:hidden">
          <i class="fa-solid fa-right-to-bracket fa-xl"></i>
        </div>
      <% end %>
      <div id='open' class="cursor-pointer sm:hidden">
        <i class="fa-solid fa-bars fa-xl"></i>
      </div>
    </div>
    <div id='close' class="cursor-pointer hidden z-30 sm:hidden">
      <i class="fa-solid fa-xmark fa-xl absolute top-5 right-5"></i>
    </div>
    <div class="hidden sm:block">
      <nav>
        <ul class="flex space-x-4 text-sm leading-8">
          <li><a href="#">旅行プラン一覧</a></li>
          <li><a href="#">投稿する</a></li>
          <li><a href="#">アカウント登録</a></li>
          <%= link_to user_session_path do %>
            <li>ログイン</li>
          <% end %>
          <li><a href="#">サイトについて</a></li>
        </ul>
      </nav>
    </div>
    <div class="block fixed inset-0 bg-white text-center z-20 hidden" id='menu'>
      <nav>
        <ul>
          <li class="mt-6 translate-y-4 transition-opacity transition-transform animate-tracking-in-expand-fwd-bottom"><a href="#">旅行プラン一覧</a></li>
          <li class="mt-8 translate-y-4 transition-opacity transition-transform animate-tracking-in-expand-fwd-bottom"><a href="#">投稿する</a></li>
          <li class="mt-8 translate-y-4 transition-opacity transition-transform animate-tracking-in-expand-fwd-bottom"><a href="#">アカウント登録</a></li>
          <%= link_to user_session_path do %>
            <li class="mt-8 translate-y-4 transition-opacity transition-transform animate-tracking-in-expand-fwd-bottom">ログイン</li>
          <% end %>
          <li class="mt-8 translate-y-4 transition-opacity transition-transform animate-tracking-in-expand-fwd-bottom"><a href="#">サイトについて</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>