<footer class='bg-main-orange py-0 px-5 my-0 mx-auto max-w-full'>
  <div class='text-center pt-12 pb-2'>
    <ul class='mb-6'>
      <li class='mb-3' style='display: none;'><a href='#'>利用規約</a></li>
      <li class='mb-3' style='display: none;'><a href='#'>プライバシーポリシー</a></li>
      <li class='mb-3' style='display: none;'><a href='#'>お問い合わせ</a></li>
    </ul>
    <div class='border-t border-gray-600 mx-12 pt-4'>
      <p><small>&copy;2024 旅つなぎ</small></p>
    </div>
  </div>
</footer>