<footer class='bg-main-orange py-0 px-5 my-0 mx-auto max-w-full'>
  <div class='text-center pt-12 pb-2'>
    <ul class='mb-6'>
      <li class='mb-3'><%= link_to t('.terms'), terms_path %></li>
      <li class='mb-3'><%= link_to t('.privacy'), privacy_path %></li>
      <li class='mb-3'><%= link_to t('.inquiry'), inquiry_path %></li>
    </ul>
    <div class='border-t border-gray-600 mx-12 pt-4'>
      <p><small>&copy;2024 旅つなぎ</small></p>
    </div>
  </div>
</footer>