@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.field_with_errors {
  @apply block w-full m-0 p-0;
}

.custom-file-input {
  @apply w-full ;
}

.custom-file-input::file-selector-button {
  @apply text-white bg-orange-500; /* ボタンのテキストと背景色を設定 */
  color: white; /* ボタンのテキストを白色に設定 */
  background-color: #ffb83d; /* ボタンの背景色を変更 */
  padding: 0.5rem 1rem; /* ボタンのパディングを設定 */
  border-style: none;
}

.custom-file-input::file-selector-button:hover {
  opacity: 0.5;
}

.body-no-scroll {
  @apply overflow-hidden;
}

.close_button {
  width: 28px;
  height: 28px;
}

summary::before {
  content: '▶︎'; /* 閉じている時の矢印 */
  font-size: 16px;
}

details[open] summary::before {
  content: '▼'; /* 開いている時の矢印 */
}