<p><%= @resource.name %> さん!</p>

<p>旅つなぎをご利用いただきありがとうございます。</p>
<p>以下のURLをクリックして、パスワード再設定手続きを完了してください。</p>
<p>URLにアクセスして新しいパスワードを作成するまで、パスワードは変更されません。</p>
<br>
<p><%= link_to 'パスワードを再設定する', edit_user_password_url(@resource, reset_password_token: @token) %></p>
<br>
<p>このメールにお心当たりのない場合は、恐れ入りますが、下記までお問い合わせください。</p>
<p>tabitsunagi1080@gmail.com</p>
<br>
<br>
<p>今後とも 旅つなぎ をよろしくお願いいたします。</p>
<p>- 旅つなぎ -</p>
