<main class='py-0 px-5 my-0 mx-auto max-w-screen-xl h-full z-10'>
  <h1 class='text-accent-blue font-bold pt-4 pb-5 mb-5 mx-auto text-center text-xl'><%= t('.title') %></h1>

  <p class='pt-4 pb-5 mb-5 mx-auto text-center'>画像を投稿してあなたのおすすめスポットの魅力をもっと伝えよう！</p>

  <div class='pt-10 mb-10 text-center'>
    <%= link_to t('.move_on'), edit_last_plan_path, class: 'btn bg-main-orange text-white px-20 hover:bg-main-orange hover:opacity-50' %>
  </div>

  <div class='pt-10 mb-20 text-center'>
    <%= link_to t('.return'), plans_path, class: 'btn bg-gray-500 text-white px-20 hover:bg-gray-500 hover:opacity-50' %>
  </div>
</main>