<main class='py-0 px-5 my-0 mx-auto max-w-screen-xl h-full z-10'>
  <h1 class='text-accent-blue font-bold pt-4 pb-5 mb-5 mx-auto text-center text-xl'><%= t('.title') %></h1>
  <% if @plans.present? %>
  <div class="mb-10 md:grid md:grid-cols-2 md:gap-4 lg:grid lg:grid-cols-3">
    <%= render @plans %>
  </div>
  <% else %>
    <p class='pt-4 pb-5 mb-5 mx-auto text-center'>旅行プランがありません。</p>
  <% end %>
</main>